<div class="sidebar-inner">
    {{#menus}}
    {{#hasChildren}}
    <div class="sidebar-section">
        <div class="sidebar-section-title">
            <span class="icon">{{icon}}</span>
            <span>{{title}}</span>
        </div>
        <ul class="sidebar-menu">
            {{#children}}
            <li class="sidebar-item {{#isActive}}is-active{{/isActive}}">
                <a href="{{path}}">{{title}}</a>
            </li>
            {{/children}}
        </ul>
    </div>
    {{/hasChildren}}
    
    {{^hasChildren}}
    {{^isTopLevel}}
    <div class="sidebar-item {{#isActive}}is-active{{/isActive}}">
        <a href="{{path}}">
            <span class="icon">{{icon}}</span>
            <span>{{title}}</span>
        </a>
    </div>
    {{/isTopLevel}}
    {{/hasChildren}}
    {{/menus}}
</div> 