<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Work Anyway</title>
    <link rel="stylesheet" href="/themes/{{themeName}}/static/css/theme.css">
    <link rel="stylesheet" href="/themes/{{themeName}}/static/css/auth-pages.css">
</head>
<body>
    {{{content}}}
</body>
</html> 